.flex-item {
    background: plum;
    min-height: 50px;
    min-width: 50px;
    border: 2px solid black;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;

    border: 2px solid red;
    height: 100px;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border: 2px solid blue;
    height: 300px;
}

#special {
    flex-grow: 1;
}