.flex-item {
    background: plum;
    width: 50px;
    height: 50px;
    border: 2px solid black;
}

/* Turn the OUTER div into a "FLEXBOX"
   by setting the display PROPERTY to flex
 */
.flex-container {
    display: flex;
    justify-content: space-evenly;
}