.flex-item {
    background: plum;
    min-width: 50px;
    min-height: 50px;
    border: 2px solid black;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;

    border: 2px solid red;
    height: 100px;
}

/* If you set the direction to COLUMN instead,
   the MAIN AXIS & the CROSS AXIS switch!
 */
.flex-container-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border: 2px solid blue;
    height: 200px;
}

#special {
    flex-grow: 0.5;
}